main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    width: 600px;
    text-align: left;
    border: 1px solid #f1f1f1;
    margin: 0;
    padding: 10px 2px;
}

img {
    height: 300px;
    width: 600px;
}

.functionality {
    width: 600px;
    border: 1px solid #f1f1f1;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
    padding: 0 10px;
}

.functionality p {
    margin: 0;
    padding: 0 10px;
}

.playTo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

#gameNum {
    background-color: white;
    border: 0.5px solid black;
    border-radius: 30px;
    padding: 6px 10px;
    margin-left: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.functionality button {
    padding: 8px 20px;
    font-size: 20px;
    width: 200px; 
    height: 60px;
    margin: 0;
    cursor: pointer;
    border-top: 1px solid #f1f1f1;
    border-width: 1px 0 0 0;
    border-radius: 5%;
    color: white;
}

#pOne {
    background-color: grey;
}

#pTwo {
    background-color: blue;
}

#reset {
    background-color: red;
}

.deactivate {
    cursor: not-allowed !important;
    transition: background-color 0.5s ease;
}

.deactivateOne {
    background-color: lightgray !important;
}

.deactivateTwo {
    background-color: lightblue !important;
}

.winner {
    color: green;
}

.loser {
    color: red;
}